.profile__info {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 10px;
    row-gap: 18px;
    padding: 26px 0 36px;
}

@media (min-width: 1024px) {
    .profile__info {
        column-gap: 16px;
        padding: 0;
        margin-left: 30px;
    }
}