.register__button {
    margin: 216px 0 15px;
    padding: 14px 84px;
    background-color: white;
    color: black;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    border: 0;
    transition: opacity 0.8s ease-in-out;
    min-width: 358px;
}

.register__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.register__button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}